
body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#d1d1d1;  
    font-family: 'Arial';  
} 

#app{
    // background-color: yellowgreen !important;
    .nav-it-und{
        background-color: rgba(202, 195, 195, 0.678) !important;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        a{
            display: block;
            overflow: hidden;
            background-color: rgb(156,156,156);
            text-align: center;
            padding: 14px 16px;
            max-block-size: 100%;
            text-decoration: none;
        }
        .nav-item:hover{
            background-color: rgba(219, 82, 82, 0.856);
        }
        a:hover {
            background-color: rgba(219, 82, 82, 0.856);
        }
        .nav-link:hover{
            background-color: rgba(219, 82, 82, 0.856);
        }
        .nav-link{
            margin: 5px;
        
        }
    }
    a.navbar-brand{
        margin: auto;
        text-align: left;
        display: block;
        overflow: hidden;
        padding: 14px 16px;
        max-block-size: 100%;
        text-decoration: none;
    }
    .container{
        background-color: rgba(202, 195, 195, 0.678);
    }
    
}
// .py-4{
//     max-width: 50%;
//     height: 250px;
//     padding: 10% 10% 10% 10%;
//     margin: 0 auto;
//     background-color: #fff;
//     border: 1px solid rgba(0,0,0,0.1);  
//     margin-top:15%
// }
.form-control{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0; 
    box-sizing: border-box;
    font-size:20px;
}

.form-control::placeholder{
    font-size:20px;
}

.col-md-6{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group.row.mb-0{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-check{
 padding-right: 44%;
}

.loginButton{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}
