
body  
{  
    margin: 0;  
    padding: 0;  
    background-color:rgba(202, 195, 195, 0.678);
    font-family: 'Arial';  
} 

#app{
    // background-color: yellowgreen !important;
    .nav-it-und{
        background-color: rgba(202, 195, 195, 0.678) !important;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        a{
            display: block;
            overflow: hidden;
            background-color: rgb(156,156,156);
            text-align: center;
            padding: 14px 16px;
            max-block-size: 100%;
            text-decoration: none;
        }
        .nav-item:hover{
            background-color: rgba(219, 82, 82, 0.856);
        }
        a:hover {
            background-color: rgba(219, 82, 82, 0.856);
        }
        .nav-link:hover{
            background-color: rgba(219, 82, 82, 0.856);
        }
        .nav-link{
            margin: 5px;
        
        }
    }
    a.navbar-brand{
        margin: auto;
        text-align: left;
        display: block;
        overflow: hidden;
        padding: 14px 16px;
        max-block-size: 100%;
        text-decoration: none;
    }
    .container{
        background-color:rgba(202, 195, 195, 0.678);
    }
    
}
// .py-4{
//     max-width: 50%;
//     height: 250px;
//     padding: 10% 10% 10% 10%;
//     margin: 0 auto;
//     background-color: #fff;
//     border: 1px solid rgba(0,0,0,0.1);  
//     margin-top:15%
// }



.card-body{ //padding no augsas
    padding-top: 10%;
}

.form-control{//textfield lielumi
    width: 30%;
    padding: 20px 20px;
    margin: 8px 0; 
    box-sizing: border-box;
    font-size:20px;
}

.form-control::placeholder{//textfield placeholdder
    font-size:20px;
}

.col-md-6{ //textboxi centra
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group.row.mb-0{  //button un forgot password centra
    display: flex;
    align-items: center;
    justify-content: center;
}

label{ //register page label centra
    //margin-left:35%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}

.form-check{
    width:200px;
    height: 50px;
    margin:auto;
    display:flex;
    justify-content: center;
}


label.form-check-label{
    width:120px;
    display:inline-block;
    justify-content: center;
    white-space:nowrap;
    margin:0;
    padding:0;
    font-size:18px;
}
.checkBox{
    width: 20px;
    height: 20px;
}


.button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}

.container-reg{
	background: rgb(148, 148, 148);
	//width: 800px;
	box-sizing: border-box;
	padding: 10px;
	margin: 3% auto 0;
    border: 3px solid #f79d9d;
    text-align: center;
}

.col-regis{
  //padding-top: 50px;
  //padding-right: 20px;
  //padding-bottom: 50px;
  //padding-left: 20px;
}
