body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#d1d1d1;  
    font-family: 'Arial';  
} 


.py-4{
    max-width: 50%;
    height: 250px;
    padding: 10% 10% 10% 10%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  
    margin-top:15%
}
.form-control{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0; 
    box-sizing: border-box;
    font-size:20px;
}

.form-control::placeholder{
    font-size:20px;
}

.col-md-6{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group.row.mb-0{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-check{
 padding-right: 44%;
}

.loginButton{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}




