body {
  margin: 0;
  padding: 0;
  background-color: rgba(202, 195, 195, 0.678);
  font-family: 'Arial';
}

#app .nav-it-und {
  background-color: lightgray !important;
  position: absolute;
  border-radius: 5%;
  right: 10px;
  top: 5px;
}

#app .nav-it-und a {
  display: block;
  overflow: hidden;
  background-color: #9c9c9c;
  text-align: center;
  padding: 14px 16px;
  max-block-size: 100%;
  text-decoration: none;
  border-radius: 5%;
}

#app .nav-it-und .nav-item:hover {
  background-color: lightgray;
}

#app .nav-it-und a:hover {
  background-color: #9c9a9a;
}

#app .nav-it-und .nav-link:hover {
  background-color: #807e7e;
}

#app .nav-it-und .nav-link {
  margin: 5px;
}

#app .nav-it-und a.navbar-brand {
  justify-content: left;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  display: block;
  overflow: hidden;
  padding: 14px 16px;
  max-block-size: 100%;
  text-decoration: none;
}

#app .container {
  background-color: rgba(202, 195, 195, 0.678);
}

.buttonCreate {
  background-color: #1fc410;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2em;
}

.card-body {
  padding-top: 8%;
}

.form-control {
  width: 30%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
}

.regist-form-control {
  width: 50%;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
}

.form-control::-moz-placeholder {
  font-size: 20px;
}

.form-control:-ms-input-placeholder {
  font-size: 20px;
}

.form-control::placeholder {
  font-size: 20px;
}

.col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group.row.mb-0 {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-family: Arial;
  font-size: 20px;
}

.form-check {
  width: 200px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
}

label.form-check-label {
  width: 120px;
  display: inline-block;
  justify-content: center;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.checkBox {
  width: 20px;
  height: 20px;
}

.button {
  background-color: #1fc410;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2em;
  font-family: Arial;
}

.button:hover {
  background-color: #19881e;
  color: white;
  cursor: pointer;
}

::-moz-selection {
  color: #dad8d8;
  background: #777676;
}

::selection {
  color: #dad8d8;
  background: #777676;
}

.check {
  display: inline-block;
  text-align: center;
  width: 10vw;
  margin-left: 0.5vw;
}

.check #testInp {
  width: 8vw;
  margin: auto;
}

.container-reg {
  background: #949494;
  width: 70%;
  box-sizing: content-box;
  padding: 1%;
  margin: 3% auto 0;
  border: 3pt solid #7e7e7e;
  text-align: center;
}

.col-regis {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 20px;
}

.form-popup {
  display: none;
}
